layout {
  cwd "/Users/nboaldin/code/github.com/nboaldin/personal-work-notes"
  tab name="nvim" focus=true {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane command="nvim" {
      args "."
        borderless true
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }
  tab name="server"  {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane {
        borderless true
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }
}

